:root {
  --primary-blue: #0437f2;
  --secondary-black: #101010;
  --background-color: #f7f7f7;
  --font-family: "Inter", sans-serif;
}

.light-mode {
  color: var(--accent-black);
  background: var(--background-color);
}

.dark-mode {
  color: var(--background-color);
  background: var(--secondary-black);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
